.navBar{
    background-color: darkred;
    width: 550px;
    height: 80px;
    margin: 0 auto;
  
}

.navBar ul li 
{
    list-style-type: none;
    float: left;
    padding: 30px;
   
   
}
.navBar ul li a{

    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer ;
  

}
.navBar ul li a :hover{

  font-weight: bolder;
  color: black;
  
}
